---
---

{{reference}}

<span id="{{key}}_materials">
  <ul class="nav nav-pills">
    {% if entry.abstract %}
    <li><a class="bib-materials" data-target="#{{key}}_abstract" data-toggle="collapse" href="#{{key}}" onclick="return false">abstract</a></li>
    {% endif %}

    <li><a class="bib-materials" data-target="#{{key}}_bibtex" data-toggle="collapse" href="#{{key}}" onclick="_gaq.push(['_trackEvent', 'View', 'Bibliography', '{{key}}']); return false;">bib</a></li>


    {% if link %}
    <li><a class="bib-materials" href="{{link}}" onClick="_gaq.push(['_trackEvent', 'Download', 'PDF', '{{key}}']);">PDF</a></li>
    {% endif %}
    {% if entry.code %}
    <li><a class="bib-materials" href="{{entry.code}}">Code</a></li>
    {% endif %}
    {% if entry.arxiv %}
    <li><a class="bib-materials" href="{{entry.arxiv}}">arxiv</a></li>
    {% endif %}
  </ul>


  {% if entry.abstract %}
  <p id="{{key}}_abstract" class="pre pre-scrollable collapse">{{entry.abstract}}</p>
  {% endif %}

  <pre id="{{key}}_bibtex" class="pre pre-scrollable collapse">{{entry.bibtex}}</pre>

</span>
